{% extends "layout.html" %}
{% block title %}
专业画图
{% endblock %}
{% block content %}
        <div id="grid" style="width:1320px; height:800px;"></div>
        <script>
            var chart = echarts.init(document.getElementById('grid'), 'roma', {renderer: 'Canvsa'}); 
            //Canvsa SVG vintage dark macarons infographic shine roma
            $(
            function () {
                    $.ajax({
                    type: "GET",
                    url: "/gridChart",
                    dataType: 'json',
                    success: function (result) {
                        chart.setOption(result);
                    }
                });
            }
            )
        </script>
{% endblock %}