<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My-pyecharts</title>
    <script src="https://github.com/pyecharts/pyecharts-assets/blob/master/assets/jquery.min.js"></script>
    <script type="text/javascript" src="https://github.com/pyecharts/pyecharts-assets/blob/master/assets/echarts.min.js"></script>
</head>
<body>
    <div id="grid" style="width:1000px; height:600px;"></div>
    <script>
        $(
            function () {
                var chart = echarts.init(document.getElementById('grid'), 'white', {renderer: 'canvas'});
                $.ajax({
                    type: "GET",
                    url: "/gridChart",
                    dataType: 'json',
                    success: function (result) {
                        chart.setOption(result);
                    }
                });
            }
        )
    </script>
</body>
</html>