<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Stock</title>
    <script src="/jquery.min.js"></script>
    <script type="text/javascript" src="/echarts.min.js"></script>
</head>
<body>
    <div id="grid" style="width:1250px; height:900px;"></div>
    <script>
        var chart = echarts.init(document.getElementById('grid'), 'roma', {renderer: 'Canvsa'}); 
        //Canvsa SVG vintage dark macarons infographic shine roma
        $(
        function () {
                $.ajax({
                type: "GET",
                url: "/gridChart",
                dataType: 'json',
                success: function (result) {
                    chart.setOption(result);
                }
            });
        }
        )
    </script>
</body>
</html>